In [100]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [101]:
cyclist_file = "../ETL project/cyclist.csv"
cyclist_df = pd.read_csv(cyclist_file)
cyclist_df

        Date  Brooklyn Bridge
0   10/01/17             2297
1   10/02/17             3387
2   10/03/17             3386
3   10/04/17             3412
4   10/05/17             3312
5   10/06/17             2982
6   10/07/17             2750
7   10/08/17             1235
8   10/09/17              898
9   10/10/17             3922
10  10/11/17             2721
11  10/12/17             2411
12  10/13/17             2839
13  10/14/17             2021
14  10/15/17             2169
15  10/16/17             2751
16  10/17/17             2869
17  10/18/17             3264
18  10/19/17             3265
19  10/20/17             3169
20  10/21/17             2538
21  10/22/17             2744
22  10/23/17             3189
23  10/24/17              954
24  10/25/17             3367
25  10/26/17             2565
26  10/27/17             3150
27  10/28/17             2245
28  10/29/17              183
29  10/30/17             1428
30  10/31/17             2727

In [103]:
pedestrian_file = ("../ETL project/pedestrian_counts.csv")
pedestrian_db = pd.read_csv(pedestrian_file)
pedestrian_db

,hour_beginning,location,Pedestrians,Towards Manhattan,Towards Brooklyn,weather_summary,temperature,precipitation,lat,long,events
0,10/01/17,Brooklyn Bridge,44,30,14,clear-night,52,0.0001,40.708164,-73.999509,NaN
1,10/01/17,Brooklyn Bridge,30,17,13,partly-cloudy-night,53,0.0002,40.708164,-73.999509,NaN
2,10/01/17,Brooklyn Bridge,25,13,12,partly-cloudy-night,52,0.0000,40.708164,-73.999509,NaN
3,10/01/17,Brooklyn Bridge,20,11,9,partly-cloudy-night,51,0.0000,40.708164,-73.999509,NaN
4,10/01/17,Brooklyn Bridge,18,10,8,partly-cloudy-night,51,0.0000,40.708164,-73.999509,NaN
5,10/01/17,Brooklyn Bridge,16,12,4,partly-cloudy-night,50,0.0000,40.708164,-73.999509,NaN
6,10/01/17,Brooklyn Bridge,113,88,25,partly-cloudy-night,49,0.0001,40.708164,-73.999509,NaN
7,10/01/17,Brooklyn Bridge,199,72,127,clear-day,49,0.0000,40.708164,-73.999509,NaN
8,10/01/17,Brooklyn Bridge,261,133,128,clear-day,50,0.0000,40.708164,-73.999509,NaN
9,10/01/17,Brooklyn Bridge,845,504,341,clear-day,54,0.0000,40.708164,-73.999509,NaN
10,10/01/17,Brooklyn Bridge,2478,1906,572,clear-day,57,0.0000,40.708164,-73.999509,NaN
11,10/01/17,Brooklyn Bridge,3006,1277,1729,clear-day,60,0.0000,40.708164,-73.999509,NaN
12,10/01/17,Brooklyn Bridge,2263,1233,1030,clear-day,62,0.0000,40.708164,-73.999509,NaN
13,10/01/17,Brooklyn Bridge,2616,1447,1169,clear-day,64,0.0000,40.708164,-73.999509,NaN
14,10/01/17,Brooklyn Bridge,2463,1339,1124,clear-day,65,0.0000,40.708164,-73.999509,NaN
15,10/01/17,Brooklyn Bridge,2245,1189,1056,clear-day,66,0.0000,40.708164,-73.999509,NaN
16,10/01/17,Brooklyn Bridge,2764,1040,1724,clear-day,67,0.0000,40.708164,-73.999509,NaN
17,10/01/17,Brooklyn Bridge,2247,1140,1107,clear-day,67,0.0000,40.708164,-73.999509,NaN
18,10/01/17,Brooklyn Bridge,2142,1091,1051,clear-day,66,0.0000,40.708164,-73.999509,NaN
19,10/01/17,Brooklyn Bridge,899,298,601,clear-night,62,0.0000,40.708164,-73.999509,NaN
20,10/01/17,Brooklyn Bridge,481,143,338,clear-night,59,0.0000,40.708164,-73.999509,NaN
21,10/01/17,Brooklyn Bridge,275,117,158,clear-night,57,0.0000,40.708164,-73.999509,NaN
22,10/01/17,Brooklyn Bridge,133,53,80,clear-night,55,0.0000,40.708164,-73.999509,NaN
23,10/01/17,Brooklyn Bridge,104,68,36,clear-night,54,0.0000,40.708164,-73.999509,NaN
24,10/02/17,Brooklyn Bridge,60,20,40,clear-night,53,0.0000,40.708164,-73.999509,NaN
25,10/02/17,Brooklyn Bridge,27,15,12,clear-night,52,0.0000,40.708164,-73.999509,NaN
26,10/02/17,Brooklyn Bridge,6,3,3,clear-night,51,0.0000,40.708164,-73.999509,NaN
27,10/02/17,Brooklyn Bridge,8,5,3,clear-night,50,0.0000,40.708164,-73.999509,NaN
28,10/02/17,Brooklyn Bridge,2,0,2,clear-night,49,0.0000,40.708164,-73.999509,NaN
29,10/02/17,Brooklyn Bridge,19,13,6,clear-night,48,0.0000,40.708164,-73.999509,NaN
...,...,...,...,...,...,...,...,...,...,...,...
714,10/30/17,Brooklyn Bridge,1084,491,593,clear-night,53,0.0001,40.708164,-73.999509,NaN
715,10/30/17,Brooklyn Bridge,409,178,231,clear-night,52,0.0009,40.708164,-73.999509,NaN
716,10/30/17,Brooklyn Bridge,279,130,149,clear-night,51,0.0004,40.708164,-73.999509,NaN
717,10/30/17,Brooklyn Bridge,166,75,91,clear-night,51,0.0000,40.708164,-73.999509,NaN
718,10/30/17,Brooklyn Bridge,102,51,51,clear-night,51,0.0000,40.708164,-73.999509,NaN
719,10/30/17,Brooklyn Bridge,47,22,25,clear-night,50,0.0001,40.708164,-73.999509,NaN
720,10/31/17,Brooklyn Bridge,25,7,18,clear-night,51,0.0000,40.708164,-73.999509,Halloween
721,10/31/17,Brooklyn Bridge,3,2,1,clear-night,51,0.0000,40.708164,-73.999509,Halloween
722,10/31/17,Brooklyn Bridge,6,5,1,clear-night,50,0.0000,40.708164,-73.999509,Halloween
723,10/31/17,Brooklyn Bridge,3,3,0,clear-night,49,0.0000,40.708164,-73.999509,Halloween
724,10/31/17,Brooklyn Bridge,2,1,1,clear-night,49,0.0000,40.708164,-73.999509,Halloween
725,10/31/17,Brooklyn Bridge,24,14,10,clear-night,49,0.0000,40.708164,-73.999509,Halloween
726,10/31/17,Brooklyn Bridge,76,42,34,clear-night,48,0.0000,40.708164,-73.999509,Halloween
727,10/31/17,Brooklyn Bridge,247,116,131,clear-night,48,0.0000,40.708164,-73.999509,Halloween
728,10/31/17,Brooklyn Bridge,350,131,219,clear-day,47,0.0001,40.708164,-73.999509,Halloween
729,10/31/17,Brooklyn Bridge,796,411,385,clear-day,49,0.0000,40.708164,-73.999509,Halloween
730,10/31/17,Brooklyn Bridge,1667,945,722,clear-day,51,0.0000,40.708164,-73.999509,Halloween
731,10/31/17,Brooklyn Bridge,2304,1135,1169,partly-cloudy-day,52,0.0000,40.708164,-73.999509,Halloween
732,10/31/17,Brooklyn Bridge,2464,1184,1280,clear-day,54,0.0000,40.708164,-73.999509,Halloween
733,10/31/17,Brooklyn Bridge,2465,1197,1268,clear-day,55,0.0000,40.708164,-73.999509,Halloween
734,10/31/17,Brooklyn Bridge,2398,1137,1261,clear-day,56,0.0000,40.708164,-73.999509,Halloween
735,10/31/17,Brooklyn Bridge,2094,1023,1071,clear-day,56,0.0000,40.708164,-73.999509,Halloween
736,10/31/17,Brooklyn Bridge,2079,954,1125,clear-day,56,0.0001,40.708164,-73.999509,Halloween
737,10/31/17,Brooklyn Bridge,1731,868,863,clear-day,55,0.0000,40.708164,-73.999509,Halloween
738,10/31/17,Brooklyn Bridge,818,356,462,clear-night,54,0.0000,40.708164,-73.999509,Halloween
739,10/31/17,Brooklyn Bridge,275,141,134,clear-night,53,0.0000,40.708164,-73.999509,Halloween
740,10/31/17,Brooklyn Bridge,179,70,109,clear-night,52,0.0000,40.708164,-73.999509,Halloween
741,10/31/17,Brooklyn Bridge,105,53,52,clear-night,50,0.0000,40.708164,-73.999509,Halloween
742,10/31/17,Brooklyn Bridge,60,36,24,clear-night,49,0.0000,40.708164,-73.999509,Halloween
743,10/31/17,Brooklyn Bridge,50,33,17,clear-night,48,0.0000,40.708164,-73.999509,Halloween

### Transform premise DataFrame

In [104]:
cyclist = ["Date", "Brooklyn Bridge"] 
cyclist_transform = cyclist_df[cyclist].copy()

cyclist_transform = cyclist_transform.rename(columns={"Date": "date",
                                                      "Brooklyn Bridge": "number_of_cyclists",
                                                          })
cyclist_transform.set_index("date", inplace=True)
cyclist_transform.head()

          number_of_cyclists
date
10/01/17                2297
10/02/17                3387
10/03/17                3386
10/04/17                3412
10/05/17                3312

### Transform county DataFrame

In [105]:
pedestrian = ["hour_beginning", "Pedestrians"]
pedestrian_transform = pedestrian_db[pedestrian].copy()

pedestrian_transform = pedestrian_transform.rename(columns = {"hour_beginning": "date", 
                                                     "Pedestrians": "number_of_pedestrians",
                                                     })

pedestrian_transform.drop_duplicates("date", inplace=True)
pedestrian_transform.set_index("date", inplace=True)
pedestrian_transform.head()

          number_of_pedestrians
date
10/01/17                     44
10/02/17                     60
10/03/17                     45
10/04/17                     28
10/05/17                     41

### Create database connection

In [106]:
connection = "postgres:Franklin#4@localhost:5432/brooklyn"
engine = create_engine(f'postgresql://{connection}')

In [107]:
# Confirm tables
engine.table_names()

['cyclist', 'pedestrian']

### Load DataFrames into database

In [108]:
cyclist_transform.to_sql(name='cyclist', con=engine, if_exists='append', index=True)
pedestrian_transform.to_sql(name='pedestrian', con=engine, if_exists='append', index=True)